 /******************* Main Styles ********************/
 
 body {
 	display: flex;
 	flex-direction: column;
     font-family: 'Poiret One', cursive;
     color: #222;
     background: #C7DAEC;
     width: 100%;
 }
 .video-container{
 	display: flex;
 	flex-direction: column;


 }

 video{
 	margin: auto;
 	width: 70%;
 

 }
 /******************* Main Styles ********************/
