 /******************* Main Styles ********************/
 
 body {
     font-family: 'Poiret One', cursive;
     color: #222;
     background: #C7DAEC;
     width: 100%;
 }

 video{
 	width: 60%

 }
 /******************* Main Styles ********************/
